

:root{

    /*colors*/
        --primary: #D65D00;
        --accents: #a82d00;
        --text: #2E2C2A;
        --backgroundcol: #FFF8F5;
      }
      *{
        margin:0;
        padding:0; 
        box-sizing:border-box;
        font-family: "Roboto" sans-serif;
      }
    header li, header a{
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      color:var(--text);
    }
    .navbar{
        z-index:1;
        position:sticky;
        top:0;
        width:100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:30px, 10%;
      background-color: var(--accents);
      height: 70px;
    }
    .logo{
      cursor:pointer;
      margin-left:15px;
    }
    .nav-links{
    list-style:none ;
    
    
    }
    .nav-links li{
      display:inline-block;
      padding: 0px, 20px;
    
    }
    .nav-links li a{
      transition:all 0.3s ease 0s;
    padding: 10px;
    }
    
    .nav-links li:hover{ 
      transition:all 0.5s ease 0.1s;
      transform: scale(1.1);
     
    }
    .nav-links li a:hover{
    
      transition:all 0.3s ease 0s;
      color:var(--backgroundcol); 
    }
    footer{
      width:100%;
      position: relative;
      bottom: 0;
      background-color: var(--text);
    }
    .footer-container{
      width:100%;
      padding:70px,30px,20px;
    }
    .social-icons{
      display:flex;
      justify-content: center;
    
    }
    .social-icons a{
      text-decoration: none;
      color:var(--backgroundcol);
      padding:10px;
      margin:10px;
      border-radius: 50%;
    }
    .social-icons a:hover{
      transition:all 0.3s ease 0s;
      transform: scale(1.2);
    }
    
    .footer-nav{
    margin:30px;
    }
    .footer-nav ul{
     display:flex;
     justify-content: center;
     margin:30px;
    padding:20px, 30px;
    list-style:none ;
    }
    .footer-nav ul li {
    
      text-decoration: none;
      padding:30px;
    
    }
    .footer-nav ul li:hover { 
    
    transition:all 0.5s ease 0.1s;
    transform: scale(1.1);
    }
    .footer-nav ul li a {
      text-decoration: none;
      color:var(--backgroundcol);
      font-family: "roboto",sans-serif;
    }
    .footer-nav ul li a:hover {
      transition:all 0.5s ease 0.1s;
      color:var(--primary);
    }
    

body{
    background-color: #fff8f5;
}

.one-img{
    position: absolute; 
    top: 150px; 
    left: 70px;
}
.one-img img{
    width: 310px; 
    height: 310px;
    transition-duration: 1s;
    border-radius: 50px;
}
.one-img img:hover{
    transform: scale(1.1);  
}
.one-img figcaption{
    color:black ;
    position: absolute; 
    top: 320px; 
    left: 70px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
}


.two-img{
    position: absolute; 
    top: 150px; 
    left: 600px
}
.two-img img{
    width: 310px; 
    height: 310px;
    transition-duration: 1s;
    border-radius: 50px;
}
.two-img img:hover{
    transform: scale(1.1); 
}
.two-img figcaption{
    color:black ;
    position: absolute; 
    top: 320px; 
    left: 120px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
}


.three-img{
    position: absolute; 
    top: 150px; 
    left: 1110px;
}
.three-img img{
    width: 310px; 
    height: 310px;
    transition-duration: 1s;
    border-radius: 50px;
}
.three-img img:hover{
    transform: scale(1.1); 
}
.three-img figcaption{
    color:black ;
    position: absolute; 
    top: 320px; 
    left: 120px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.four-img{
    position: absolute; 
    top: 600px; 
    left: 70px;
}
.four-img img{
    width: 310px; 
    height: 310px;
    transition-duration: 1s;
    border-radius: 50px;
}
.four-img img:hover{
    transform: scale(1.1);  
}
.four-img figcaption{
    color:black ;
    position: absolute; 
    top: 320px; 
    left: 70px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
}

.five-img{
    position: absolute; 
    top: 600px; 
    left: 600px
}
.five-img img{
    width: 310px; 
    height: 310px;
    transition-duration: 1s;
    border-radius: 50px;
}
.five-img img:hover{
    transform: scale(1.1); 
}
.five-img figcaption{
    color:black ;
    position: absolute; 
    top: 320px; 
    left: 120px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
}
.conatiner{
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}
.cards{
  padding: 90px 0;
}
.card img{
  border-radius:20px;
width: 100%;
height:250px;
}
.card{
float: left;
padding: 0 10px;
transition: 1s;

  width: 20%;
  overflow: hidden;
}
.card:hover{
scale: 1.3;
transition: 1s;
}
.clear-fix{
  clear: both;
}
