
:root{

/*colors*/
    --primary: #D65D00;
    --accents: #a82d00;
    --text: #2E2C2A;
    --backgroundcol: #FFF8F5;
  }
  *{
    margin:0;
    padding:0;
  }


      html{
        font-family: "Roboto" sans-serif;
      }
      #div1{
        height:100px;
      }
      
      header h1{
        font-family: 'lucida handwriting','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        align-self:center;
        background-color: var(--primary);
        color:var(--backgroundcol);
        align-items: center;
        display:flex;
        justify-content: center;
        
      }
    
      nav{
        height: 60px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:5px;
        
      }    
       #nav-bar {
        list-style-type: none;
        display:flex;
        margin: 0px;
        padding: 5px;
        overflow: hidden;
        background-color: var(--text);
        height: 100%;
        width:100%;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
        position:fixed;
        top:0;
        right:0;
        z-index: 10;
        width:300px

      
      }
     nav a {
        height:100%;
        font-family: "Roboto";
        color: var(--backgroundcol);
        text-align: center;
        padding: 20px 30px;
        text-decoration: none;
        align-items: center;
        display:flex;
        box-sizing: border-box;
        height: auto;
        width:100%;
        justify-content:flex-start ;

        margin:0;
      }
      nav a:hover{
        background-color: var(--primary);
      }
      nav #home-link{
        margin-right: auto;
      }
      nav #home-link:hover{
        background-color: var(--text);
      }
      #sidebar-active{
        display: none;
      }
      .open-sidebar , .close-sidebar{
        display:block;
      }
      #sidebar-active:checked ~ .nav-bar{
        display: flex;
      }