
:root{

/*colors*/
    --primary: #D65D00;
    --accents: #a82d00;
    --text: #2E2C2A;
    --backgroundcol: #FFF8F5;
  }
  *{
    margin:0;
    padding:0; 
    box-sizing:border-box;
    font-family: "Roboto" sans-serif;
  }

