:root{
    --bg-2:#F7F7F7;
    --main-c:#D65D00;
    --sec-c:#a82d00;
    --selection-c:#fff;
}
::selection {
    background: var(--main-c);
    color: var(--selection-c);
}
.bg2{
    background-color: var(--bg-2);
}
body{
    font-family: "Playpen Sans", cursive;
}
h1,h2,.navbar-brand,footer span{
    font-family: "Shadows Into Light", cursive;
    font-weight: 900;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.top h2{
    font-size: 40px;
    position: relative;
    z-index: 1;
}
.top h2::after{
    content: "";
    position: absolute;
    background-image: url(/images/graffiti_colored.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    bottom: -50%;
    left: 25%;
    z-index: -1;
}
section{
    padding: 100px 0;
}



.navbar{
    background: #ffffffef;
}
.navbar-brand img{
    width: 30px;
}
.navbar .nav-link{
    color: #000;
    margin: 0 12px;
    font-size: 14px;
}
.navbar .nav-link img{
    width: 30px;
}
.navbar .nav-link.active{
    color: var(--main-c);
}
.navbar .nav-link{
    position: relative;
}
.navbar .nav-link::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--main-c);
    bottom: 0;
    left: 0;
    transition: .5s;
}
.navbar .nav-link.active::after{
    width: 100%;
    transition: .5s;
}
.navbar .nav-item.active .prf-nav{
    border: 2px solid var(--main-c);
}


footer a{
    color: var(--main-c);
}