.recipesTop{
    background-image: linear-gradient(var(--bgi-c)), url(/images/Pngtree.jpeg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.recipesTop h1{
    font-size: 100px;
}
.search{
    padding-bottom: 30px;
}
.card .img-box{
    height: 500px;
}
.info .btns .btn:hover{
    background: var(--main-c);
    color: #fff;
}
.modal-header{
    background-color: var(--main-c);
}
.ing{
    background-color: var(--main-c);
}
.active>.page-link, .page-link.active {
    color: var(--text-s);
    background-color: var(--main-c);
    border-color: var(--main-c);
}
.page-link {
    color: var(--main-c);
}
.page-link:hover {
    color: var(--text-c);
}